<!doctype html>
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>inv fija</title>

    <link rel="icon" href="{% static "img/favicon.png" %}" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "img/favicon-152.png" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/fix_bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.jqplot.min.css" %}" />

    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/locales/bootstrap-datepicker.es.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jqplot.min.js" %}"></script>

    <script type="text/javascript">
        var js_base_url = "";
    </script>

<!--
    <style type="text/css">body {margin-top: 40px; background-image: url("{% static "img/tch-background.jpg') }}"); background-size: cover;}</style>
 -->
</head>


<body>

<div class="container-fluid" id="container">

{% include "app_menu_modulo.html" %}

{% block app_menu_modulo %}
{% endblock %}
@include('common.app_menu_modulo')

@include('common.alert')

<!-- ============================== MODULOS APP ============================== -->
@yield('modulo')
<!-- ============================== /MODULOS APP ============================== -->

@if (isset($modelList))
    </div> <!-- DIV   class="col-md-10" -->
    </div> <!-- DIV   class="row"    -->
@endif

</div> <!-- DIV principal de la aplicacion   class="container"-->

<footer class="footer">
    <div class="text-center text-muted">
        <small><i class="fa fa-creative-commons"></i> 2013 &ndash; <?= date('Y'); ?></small>
    </div>
</footer>

</body>
</html>
