{% extends "orm_detail.html" %}

{% block orm_form %}
 {{ form.as_p }}
    <thead>
        <tr>
            <th>Auditor</th>
            <th>Activo</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for auditor in auditor_list %}
        <tr>
            <td>{{ auditor.nombre }}</td>
            <td>{{ auditor.activo|yesno:"Si,No" }}</td>
            <td class="text-center">
                <a href="{% url 'auditor_edit' auditor.id %}" class="">
                    editar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}
