{% extends "orm_list.html" %}

{% block orm_list %}
    <thead>
        <tr>
            <th>Centro</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for centro in centro_list %}
        <tr>
            <td>{{ centro.centro }}</td>
            <td class="text-center">
                <a href="{% url 'inventario:centro_update' centro.centro %}" class="">
                    editar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}
