{% extends "orm/list.html" %}

{% block orm_list %}
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for tipo_inventario in tipo_inventario_list %}
        <tr>
            <td>{{ tipo_inventario.id_tipo_inventario }}</td>
            <td>{{ tipo_inventario.desc_tipo_inventario }}</td>
            <td class="text-center">
                <a href="{% url 'inventario:inventario_update' 'tipo_inventario' tipo_inventario.id_tipo_inventario %}" class="">
                    editar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}
