{% extends "orm_list.html" %}

{% block orm_list %}
    <thead>
        <tr>
            <th>Unidad</th>
            <th>Descripcion</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for unidad_medida in unidad_medida_list %}
        <tr>
            <td>{{ unidad_medida.unidad }}</td>
            <td>{{ unidad_medida.desc_unidad }}</td>
            <td class="text-center">
                <a href="{% url 'inventario:unidad_medida_update' unidad_medida.unidad %}" class="">
                    editar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}
