{% extends "orm/list.html" %}

{% block orm_list %}
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Activo</th>
            <th>Username</th>
            <th>email</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for rol in rol_list %}
        <tr>
            <td>{{ rol.nombre }}</td>
            <td>{{ rol.activo }}</td>
            <td>{{ rol.username }}</td>
            <td>{{ rol.email }}</td>
            <td class="text-center">
                <a href="{% url 'acl:acl_update' 'usuario' usuario.id %}" class="">
                    editar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}
